# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [3]:
# Import the data
Path = './Resources/lending_data.csv'
df = pd.read_csv(Path)

In [5]:
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [74]:
X = df.iloc[:,:-1]
#y = df.iloc[:,-1:]

In [73]:
y= df['loan_status'].values
y

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

I am going to predict the Linear Regression Model will perform the best.Linear Regression models work best when there is fewer data than Random Forests Classifier. The shape of the data seems to be linear as well.

## Split the Data into Training and Testing Sets

In [75]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
63243,8900.0,6.893,45500,0.340659,3,0,15500
36991,9000.0,6.932,45800,0.344978,3,0,15800
39985,8900.0,6.896,45500,0.340659,3,0,15500
63047,9000.0,6.961,46100,0.349241,3,0,16100
49913,8400.0,6.712,43800,0.315068,3,0,13800

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [82]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test,y_test)

0.9924680148576145

In [83]:
# Create a StandardScaler model and fit it to the training data
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler()
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [84]:
#Train a Logistic Regression model and print the model score using scaled
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train_scaled, y_train)
clf.score(X_train_scaled, y_train)

0.9941188609162196

In [86]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1,n_estimators=50).fit(X_train, y_train)
clf.score(X_train, y_train)

0.9971798046498831

In [87]:
# Train a Random Forest Classifier model and print the model score using scaled data
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1,n_estimators=50).fit(X_train_scaled, y_train)
clf.score(X_train_scaled, y_train)

0.9971798046498831

Both models performed about the same. I did note Linear Regression some a slight changed between using unscaled and scaled data versus the Random Forest Classifier model was almost identical between using unscaled and scaled data.